body{
    text-align: center;
    margin: 0 auto;
    background-color: white;
}
h1, h4, p, div{
    font-family: 'Amatic SC', cursive;
}

h1{
    font-size: 85px;
}

h4, div, p{
    font-size: 30px;
}

img{
    height: 40%;
    width: 40%;
}

button{
    width: 20%;
    height: 25%;
    background-color: white;
    border-style: none;
    float: left;
    padding: 0px;
    text-align: center;
}
